body {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:5%;
    background-color:#6d1307;
    font-family:"Inter", sans-serif;

}



h1 {
    font-size:500%;
    /* text-align:center; */
    margin-top:3%;
    color:#EBEBEB;
}
.active {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5vw;
}
nav {
    margin-top:2%;
    display:flex; 
    /* background-color: #f7b66c; */
    justify-content: center; 
    align-items: center;
    gap: 2vw;
}

nav a, span {
    text-decoration: none;
    color:#EBEBEB;

}
#activeCircle {
    width:1rem;
    height:1rem;
    background-color:#f93945;
    display:inline;
    align-self:center;
    border-radius:100%;
}

nav a:hover {
    transition: all 0.5s ease;
    color:#ff4545;
}

nav a.active {
    color:#dc1717
}

.panel {
    background-color:#550909;
    border:2px solid #EBEBEB;
    padding:2%;
    /* border-radius: 0.5%; */
    /* aspect-ratio: 1 1; */

}
.projectshome {
    display:flex;
    /* background-color:#c2a669; */
    justify-content: center;    
    align-items: center;
    height:auto;
    gap:1em;
    flex-wrap:wrap;
}

.project {
    background-color:#69C29E;
    height:25vh;
    border-radius:0.5%;
    transition: all 0.35s ease;
    padding: 1rem 2rem;
    flex: 1 1 0;   
    text-decoration: none;
    font-size:150%;
    color:#EBEBEB;
    font-weight:600;
 
    border:2px solid #EBEBEB;
}

.project:hover {
    text-decoration: underline;
    box-shadow: 0px 8px 16px rgba(138, 6, 6, 0.685);
    height:28vh;
    transition: all 0.3s ease;
    /* flex: 1 2 0; */

}



.end {
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:first baseline;
    /* background-color:#D68F3E; */
    /* margin:0% -8% -8% -8%; */


}
#scan {
    min-width:13rem;
    height:9rem;
    background-color: #EBEBEB;
    color:#C91A1A;
    /* padding-bottom:0%; */
    border: 0.5vh solid #280003;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    margin:0;
    margin-right:0%;
}


#scanner {
    height:80%;
    width:100%;
    /* background-color:#D68F3E; */
    display:flex;
    justify-content: space-between; 
    align-items: center; 
}

#text {
    height:20%;
    width:100%;
    margin-bottom:0%;
    /* background-color:#69C29E; */
    text-align: center; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;


}

#text p {
    font-size: 1rem; 
    position: relative; 
    color:#280003;
    margin:0;
}
#scan {
    min-width: fit-content; 
    padding: 0 0.6rem;

}
#scan h6 {
    font-family: "Libre Barcode 128 Text", serif;
    font-size:5.5rem;
    font-weight:100;
    color:#280003;
    justify-content:flex-start;

    

}

#scan h5 {
    font-family: "Libre Barcode 128", serif;
    font-size:3rem;
    font-weight:200;
    color:#280003;
    justify-content:flex-end;


}
#digitalcontent {
    width:110px;
    height:auto;
    display:flex;
    flex-direction: column;
    background-color:#69C29E;
    margin-bottom:0%;
    align-self:last baseline;

}

#blackrec {
    width:100%;
    height:1rem;
    background-color: #280003;

}

#whiterec {
    width:100%;
    height:3rem;
    background-color:#ffffff;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:#9E0E0E;
    font-weight: 900;
    line-height: 100%;
    font-size:1.3rem;

}
#thanks, #digitalcontent, #scan {
    display:flex;
    align-items: center;
    
}

#thanks {
    /* background-color:#69C29E; */
    color:#e21b1b;
    font-size:1.25rem;
    font-weight:bold;
    justify-content:flex-start;
    align-self: last baseline;
    /* background-color:#69C29E; */
    margin:0;
    width:60%;
}
@media (max-width: 600px) {
    .end {
      flex-wrap: wrap;
      flex-direction: column; 
      width:100%;
      gap:5px;
    }

    #thanks {
        width:100%;
    }

    .project {
        font-size:100%;
    }

    h1 {
        font-size:200%;
    }

    .box {
        display:flex;
        flex-direction: column;
    }


}


.allprojects {
    display:flex;
    flex-direction:column;
    gap:2rem;
    background-color: #69C29E;
}



.idunno {
    display:flex;

}
.repolink {
    float:right;
    color:#EBEBEB;


}


/* .repolink a:hover {
    color:#69C29E;
} */
h5 {
    font-size:240%;
    margin:0%;
    color:#EBEBEB;
}

.contact p {
    line-height: 170%;
    /* color:#280003; */
}
p {
    color:#EBEBEB;
    font-size:1.2rem;
    line-height:1.5rem;

}
.contact p {
    margin:0.2rem;
}
.one p {
    color:#550909;
    font-weight:600;
}
.logshome {
    height:60vh;
}
h2 {
    height:auto;
    margin-bottom:5rem;
    width:100%;
    line-height: 1.75;
    color:#EBEBEB;
    font-weight:400;
}


h
h4 {
    font-size:1.75vw;
    padding:4%;
    color:#280003;
}




h7 {
    padding: 0.5em 1em;
    width:fit-content;
    font-size:16px;
    position:relative;
    border: none;
    background-color: #69C29E;
    color:#821010;
    border-radius:2rem;
    transition: all 0.5s ease;
    font-weight: 400;

}
/* (261deg 80% 48%) */
h7:hover {
    letter-spacing: 2px;
    background-color:#821010;
    color: #EBEBEB;
    box-shadow: #821010 0px 7px 29px 0px;
}

h7:active {
    letter-spacing: 2px;
    background-color:rgba(138, 6, 6);
    color: #EBEBEB;
    box-shadow: #821010 0px 0px 0px 0px;
    /* transform: translateY(30%); */
    transition: 100ms;
  
}

#preloader {
    background:#821010 url(images/preloader.gif) no-repeat center center;
    background-size:10%;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:100;
    margin-top: -2%;
    margin-left: -12%;

}
::-webkit-scrollbar {
    width:10px;

}

::-webkit-scrollbar-track {
    background-color:#EBEBEB;

}

::-webkit-scrollbar-thumb {
    background-color:#FF2B39;
}

/* ::-webkit-scrollbar-thumb:hover {
    background:#9c2a2a;
} */

.topleft {
    background-color:#69C29E;
    padding:4px;
    display:flex;
    flex-direction: column;
    gap:4px;
    margin-left:-6%;

    width:120px;
    height:200px;
    position:absolute;

}

.char {
    width:100%;
    height:70%;
    background-color:#EBEBEB;

}

.other {
    display:flex;
    width:100%;
    height: 30%;
    background-color: #f7b66c;
    gap:4px;
}
.price {
    width:50%;
    height:100%;
    background-color:#EBEBEB;
    justify-content: flex-start;

}

.approved {
    width:50%;
    height:100%;
    background-color:#EBEBEB;
    justify-content: flex-end;


}

.tb-highlight {
    margin-top:1rem;
    mark {
      padding: 0 0.1em;
      display: inline-block;
      transition: 0.1s ease;
    }
    .highlight-1 {
      background: #dc1717;
      transform: rotate(-2deg);
      &:hover {
        transform: rotate(-4deg) scale(1.025);
      }
    }
    .highlight-2 {
      background: #69C29E;
      transform: rotate(1deg);
      &:hover {
        transform: rotate(2deg) scale(1.025);
      }
    }
    .highlight-3 {
      background: #f7b66c;
      transform: rotate(-1deg);
      &:hover {
        transform: rotate(-2deg) scale(1.025);
      }
    }
  }

  @keyframes moveY {
    0% {
        transform: translateX(-25px);
    }
    25% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateX(25px);
    }
    75% {
        transform: translateY(25px);
    }
    90% {
        transform: translateY(0);
    }

  }

