body {
    margin:0;
    width:100vw;
    height:100vh;
    background-color:#e4e4e4;
    display:flex;
    justify-content: center;
    align-items:center;

}



div {
    /* display: grid; */
    gap:15px;
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    padding:1rem;

}

p {
    margin: 0;
    font-size: clamp(1rem, 5vw, 1.5rem);

}

p1 {
margin: 0;
    font-size: clamp(0.65rem, 3.5vw, 1rem);
}